h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
    margin: 5px;
    color: #f384e1;
}
header{
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    color: blueviolet;
}

nav ul li a {
    color: #f384e1;
    text-decoration: underline;
    font-family: "Rozha One", serif;
}

nav ul li a:hover {
    cursor: pointer;
    color: blueviolet;
}

/* #home {
    background-image: url(https://images.unsplash.com/photo-1618939291225-8d558ea4369f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZW1hZ3JlY2VyfGVufDB8fDB8fHww);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100vh;
} */

.container {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(136, 17, 100);
    margin: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    /* background-color: pink; */
}

.altura {
    border: 2px solid #610461;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: pink;
}

.peso {
    border: 2px solid#610461;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: pink;
}

.resultado {
    border: 2px solid #610461;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: pink;
}

h2{
    text-align: center;
}

footer{
    background-color: #f384e1;
    text-align: center;
    
}